-# Renders the header for the rows rendered by _summary.html.haml.
-# Local variables required: none

%tr
  %th
  %th
  %th
  %th.center{ :colspan => 2 } Morale
  %th Allied
  %th
  %th Contracts

%tr
  %th
  %th.left Game
  %th Turn
  %th German
  %th Allied
  %th Power
  %th Inflation
  %th Available

