-# Renders the header for the rows rendered by _summary.html.haml.
-# Local variables required: none

%tr
  %th Game Name
  %th Current
  %th{ :colspan => 2} Morale
  %th Inflation
  %th Contracts

%tr
  %th
  %th Turn
  %th German
  %th Allied
  %th
  %th Available

