#page_header {
  a,
  a:link,
  a:hover,
  a:active,
  a:visited {
    text-decoration: none;
  }

  padding-top: 10px;
  border: 1px 0 1px 0;
  border-color: black;
  border-style: solid;

  text-align: center;
}
